.container{
    
}

.card-item{
    background-color: rgb(94, 197, 94);
    color: white;
    width: 150px;
    border-radius: 8px;
    padding: 5px;
}
.card-item:hover{
    zoom: 1.1;
   
}
.card-item{
    transition: 0.3s;
}